{% extends 'base.html' %}

{% load humanize %}

{% block title %} - Pending Transactions{% endblock %}

{% block content %}


  {% if not test_net %}
  {% endif %}

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
       <div class="card-header">
        <h5 class="card-header-title">Pending Transactions</h5>
      </div>
      <div class="card-body">
        <div class="d-flex flex-column flex-md-row">
          <small class="mb-2 mr-md-auto text-muted">
            A total of {{ txs_pending|length|intcomma }} pending transactions found
          </small>
        </div>
        {% include "txs_pending/txs_pendings.html" with show_head=True %}
      </div>
    </div>
  </div>

{% endblock %}
