{% extends 'base.html' %}

{% load humanize %}

{% block title %} - Pending Transactions{% endblock %}

{% block content %}

<h5 class="p-2">Pending Transactions</h5>

{% if not test_net %}
{% endif %}

<div class="card-deck mb-3">
  <div class="card mb-4 shadow-sm">
    <div id="update_pending">
      <div class="card-body">
        <div class="d-flex flex-column flex-md-row">
          <small class="mb-2 mr-md-auto text-muted">
            A total of {{ txs_pending|length|intcomma }} pending transactions found
          </small>
        </div>
        {% include "txs_pending/txs_pendings.html" with show_head=True %}
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/nanobar@0.4.2/nanobar.min.js"></script>
<script>
  var nanobar = new Nanobar();
  setInterval(function () {
    nanobar.go(65);
    $('#update_pending').load(location.href + ' #update_pending');
    $(document).ajaxComplete(function () {
      nanobar.go(100); //progress 100 after ajax update complete
    });
  }, 10000); //update every X ms.
</script>

{% endblock %}
