{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block title %} - Pool {{ address.id|num2rs }}{% endblock %}

{% block description %}
{{ address.id|num2rs }}
{% if address.name %}{{ address.name }}{% endif %}
{% endblock %}

{% block scripts %}
<script>
    var qrcode = new QRCode(document.getElementById("qr_code"), {
        text: "{{ address.id|num2rs }}",
        dotScale: .7,
        backgroundImage: "/static/Signum_Logomark_blue_filled.svg",
        backgroundImageAlpha: .3,
        logoBackgroundTransparent: true,
        correctLevel: QRCode.CorrectLevel.H,
    }); 
</script>

<script>
window.onload = function() {

const template = `
<div style='display: inline-block; text-align: center;'>
%avatar%
<strong>%name%</strong></div>
<br><br>
%description%<br> 
<a href='%web%' target='_blank'>%web%</a>`;

   const fields = document.getElementsByName('src44field');
   if (!fields) {
     return
   }
   for (const field of fields) {
     const source = field.innerHTML;
     try {
       const obj = JSON.parse(source);
       
         const item = {
            name: obj.nm ?? '',
            description: obj.ds ?? '',
            web: obj.hp ?? '',
            avatar: ''
         }
       if (!obj.ds) {
         return
       }
       if (obj.av) {
           avatar = Object.keys(obj.av)[0] ?? ''
           item.avatar = '<img src="https://cloudflare-ipfs.com/ipfs/' + avatar + '" style="width:50px; border-radius: 50%;"><br>';
       }
         out = template
           .replace('%avatar%', item.avatar)
           .replace('%name%', item.name)
           .replace('%description%', item.description)
           .replace(/%web%/g, item.web);
       field.innerHTML = out;
     } catch (_e) {
     }
   }
 }
</script>
{% endblock %}

{% block content %}
  <!-- QRModal -->
  <div class="modal fade" id="QRModal" tabindex="-1" role="dialog" aria-labelledby="QRModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-break small" id="QRModalLabel">{{ address.id|num2rs }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
          <div id="qr_code" title="S-{{ address.id|num2rs }}"></div>
        </div>
      </div>
    </div>
  </div>

  <h5 class="p-2">Pool<br class="d-md-none" /> {{ address.id|num2rs }}
    <a class="btn btn-sm btn-icon btn-light rounded-circle copy-btn" href="#" data-clipboard-text="{{ address.id|num2rs }}"><i class="far fa-copy"></i></a>
    <a class="btn btn-sm btn-icon btn-light rounded-circle" href="#" data-toggle="modal" data-target="#QRModal" title="Click to view QR Code"><i class="fa fa-qrcode"></i></a>
    <a class="btn btn-sm btn-icon btn-light rounded-circle copy-btn" title="Click to view SignaRank" href="https://signarank.club/address/{{ address.id }}" target="_blank"><i class="fa fa-trophy"></i></a>
  </h5>

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">

        <div class="table-responsive">
          <table class="table small table-sm">
            <tbody>
            <tr>
              <th>Address</th>
              <th>{{ address.id|num2rs }}
                {% if address.is_contract %}
                  <br class="d-md-none" />
                  <a href="{% url 'at-detail' address.id %}"><i class="fas fa-file-code"></i>
                    Contract details</a>
                {% endif %}
              </th>
              </tr>
            <tr>
              <th style="width: 160px;">ID</th>
              <th>{{ address.id }}</th>
            </tr>
            {% if address.name %}
            <tr>
              <th>Name</th>
              <td style="word-wrap: break-word; max-width: 250px">{{ address.name }}</td>
            </tr>
            {% endif %}
            {% if address.description %}
            <tr>
              <th style="vertical-align: top;">Description</th>
              <td name="src44field" style="word-wrap: break-word; max-width: 250px">{{ address.description }}</td>
            </tr>
            {% endif %}
            <tr>
              <th>Total Balance</th>
              <td>
                {{ address.id|account_balance|burst_amount|intcomma|append_symbol }}<br class="d-md-none" />
                <span class="text-info">(${{  address.id|account_balance|burst_amount|in_usd|floatformat:2|intcomma }} @ ${{ burst_info.exchange.price_usd|rounding:4|intcomma }} per {% coin_symbol %})</span>
              </td>
            </tr>
            <tr>
              <th>Free Balance</th>
              <td>
                {{address.id|account_unconfirmed_balance|burst_amount|intcomma|append_symbol }}<br class="d-md-none" />
                <span class="text-info">(${{ address.id|account_unconfirmed_balance|burst_amount|in_usd|floatformat:2|intcomma }} @ ${{ burst_info.exchange.price_usd|rounding:4|intcomma }} per {% coin_symbol %})</span>
              </td>
            </tr>
            <tr>
              <th>Locked Balance</th>
              <td>
                {{address.id|account_locked_balance|burst_amount|intcomma|append_symbol }}<br class="d-md-none" />
                <span class="text-info">(${{ address.id|account_locked_balance|burst_amount|in_usd|floatformat:2|intcomma }} @ ${{ burst_info.exchange.price_usd|rounding:4|intcomma }} per {% coin_symbol %})</span>
              </td>
            </tr>
            {% if cbs_cnt > 0 %}
            <tr>
              <th>Total Cashback</th>
              <td>
                {{ total_cashback|intcomma|floatformat:5|append_symbol }}<br class="d-md-none" />
                <span class="text-info">(${{ total_cashback|in_usd|floatformat:2|intcomma }} @ ${{ burst_info.exchange.price_usd|rounding:4|intcomma }} per {% coin_symbol %})</span>
              </td>
            </tr>
            {% endif %}
            {% if not address.is_contract %}
            <tr>
              <th>Public Key</th>
              <td style="word-wrap: break-word; max-width: 250px">
                {% if address.key_height %}
                  <span class="text-monospace">{{ address.public_key|bin2hex }}</span>
                  <br class="d-md-none" />
                  at <a href="{% url 'block-detail' address.key_height %}">block {{ address.key_height }}</a>
                {% endif %}
              </td>
            </tr>
            {% endif %}
            <tr>
              <th>Creation Block</th>
              <td><a href="{% url 'block-detail' address.creation_height %}">{{ address.creation_height }}</a></td>
            </tr>
            {% if not address.is_contract and address.pool_id %}
            <tr>
              <th>Pool</th>
              <td>
                {% if address.pool_id and address.pool_id != address.id %}
                  {% include "account_link.html" with account_id=address.pool_id account_name=address.pool_name oneline=True %}
                {% else %}
                  <span class="text-success">Solo Miner</span>
                {% endif %}
              </td>
            </tr>
            {% endif %}
            </tbody>
          </table>

          <nav>
            <div class="nav nav-tabs small" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-transactions-tab" data-toggle="tab" href="#nav-transactions" role="tab" aria-controls="nav-transactions" aria-selected="true">{{ txs_cnt|intcomma }} Transactions</a>
              {% if miners_cnt > 0 %}
              <a class="nav-item nav-link" id="nav-miners-tab" data-toggle="tab" href="#nav-miners" role="tab" aria-controls="nav-miners" aria-selected="false">{{ miners_cnt|intcomma }} Registered miners</a>
              {% endif %}
              {% if forged_blocks_cnt > 0 %}
              <a class="nav-item nav-link" id="nav-blocks-tab" data-toggle="tab" href="#nav-blocks" role="tab" aria-controls="nav-blocks" aria-selected="false">{{ forged_blocks_cnt|intcomma }} Forged blocks</a>
              {% endif %}
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-transactions" role="tabpanel" aria-labelledby="nav-transactions-tab">
              {% if txs_cnt > 0 %}
                <p style="margin-top: 10px">
                  <div class="float-left small p-1">Latest {{ txs.count }} transactions</div>
                  <div class="float-right  small p-1">
                    <a href="{% url 'txs' %}?a={{ address.id }}">View all transactions</a>
                    <a class="btn btn-sm btn-icon btn-soft-secondary rounded-circle copy-btn px-1" title="Download the latest 2k txs" href="{% url 'account-csv' address.id %}"><i class="fas fa-file-csv"></i></a>
                  </div>
                </p>
                {% include "txs/list_table.html" with filtered_account=address.id %}
                <div class="float-right  small p-1">
                  <a href="{% url 'txs' %}?a={{ address.id }}">View all transactions</a>
                  <a class="btn btn-sm btn-icon btn-soft-secondary rounded-circle copy-btn px-1" title="Download the latest 2k txs" href="{% url 'account-csv' address.id %}"><i class="fas fa-file-csv"></i></a>
                </div>
              {% else %}
                <p class="small p-1" style="margin-top: 10px">No transactions found</p>
              {% endif %}
            </div>

            <div class="tab-pane fade" id="nav-miners" role="tabpanel" aria-labelledby="nav-miners-tab">
              {% if miners_cnt > 0 %}
                <p class=style="margin-top: 10px">
                  <div class="float-left small p-1">Pool has {{ miners_cnt }} registered miners</div>
                  <div class="float-right  small p-1">
                    <a href="{% url 'miner' %}?a={{ address.id }}">View all registered miners</a>
                  </div>
                </p>
                {% include "pools/miners.html" %}
              {% else %}
                <p class="small p-1" style="margin-top: 10px">No registered miners found</p>
              {% endif %}
                  <div class="float-right  small p-1">
                    <a href="{% url 'miner' %}?a={{ address.id }}">View all registered miners</a>
                  </div>
            </div>

            <div class="tab-pane fade" id="nav-blocks" role="tabpanel" aria-labelledby="nav-blocks-tab">
              {% if forged_blocks_cnt > 0 %}
                <p class=style="margin-top: 10px">
                  <div class="float-left small p-1">Pool has {{ forged_blocks_cnt }} forged blocks</div>
                  <div class="float-right  small p-1">
                    <a href="{% url 'forged-blocks' %}?a={{ address.id }}">View all forged blocks</a>
                  </div>
                </p>
                {% include "pools/forged_blocks.html" %}
              {% else %}
                <p class="small p-1" style="margin-top: 10px">No forged blocks found</p>
              {% endif %}
                  <div class="float-right  small p-1">
                    <a href="{% url 'forged-blocks' %}?a={{ address.id }}">View all forged blocks</a>
                  </div>
            </div>


          </div>

        </div>

      </div>
    </div>
  </div>

{% endblock %}
