{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block title %} - Pools{% endblock %}
{% block description %}
Signum Pools
Total: {{ paginator.count|intcomma }}
{% endblock %}
{% block content %}
  <!-- QRModal -->
  <div class="modal fade" id="QRModal" tabindex="-1" role="dialog" aria-labelledby="QRModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-break small" id="QRModalLabel"> </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <div class="modal-body p-10 text-center bg-alt">
                Want your own pool banner and link? Use <a href="https://ipr0310.github.io/src44-generator/" target="_blank">this Signum SRC44 generator</a>, select Human Account, fill in the name, description, home page (link to your pool), and Background Image (your IPFS banner) then copy the generated SRC44 info, open your pool wallet, go to the account info page, select Type JSON and paste the SRC44 JSON code into the box. Hit Accept and send the transaction.  It's that easy!  
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <h5 class="p-2">Pools
    {% if 'a' in request.GET %}
    <br class="d-md-none" />
    <small class="text-muted">for address <a href="{% url 'address-detail' request.GET.a %}">{{ request.GET.a|num2rs }}</a></small>
    {% endif %}
  </h5>

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">

        <div class="d-flex flex-column flex-md-row align-items-center">
          <small class="my-0 mr-md-auto text-muted">{{ paginator.count|intcomma }} Pools found</small>
          {% include "paginator.html" %}
        </div>

        <div class="table-responsive">
          <table class="table table-hover small table-sm">
            <thead>
            <tr>
              <th scope="col">Last forged block</th>
              <th scope="col" class="d-none d-sm-table-cell">Timestamp</th>
              <th scope="col" class="text-center">Pool</th>
              <th scope="col" class="text-center">Pool Link <a class="" href="#" data-toggle="modal" data-target="#QRModal" title="How to get your own pool banner"><i class="text-muted fa-solid fa-info-circle"></i></a></th>
              <th scope="col" class="d-none d-sm-table-cell">Registered miners</th>
            </tr>
            </thead>
            <tbody>
            {% for pool in pools %}
              <tr>
                <td><a href="{% url 'block-detail' pool.height %}">{{ pool.height }}</a></td>
                <td class="d-none d-sm-table-cell text-nowrap">{{ pool.block_timestamp|naturaltime }}</td>
                <td class="text-center">{% include "account_link.html" with account_id=pool.pool_id account_name=pool.pool_id|account_name_string %}</td>
		{% if pool.banner and pool.url %}
		  <td class="text-center"><a href="{{ pool.url }}" target="_blank"><img src="{{ ipfs_gateway }}{{ pool.banner }}" class="rounded-sm" style="height: 50px; width: 230px;"></a></td>
                {% elif pool.url %}
                  <td class="text-center"><a href="{{ pool.url }}">{{ pool.pool_id|account_name_string }}</a></td>
                {% else %}
                  <td style="word-wrap: break-word; max-width: 250px"> </td>
                {% endif %}
                <td class="d-none d-sm-table-cell"><a href="{% url 'miner' %}?a={{ pool.pool_id }}">{{ pool.miners_cnt }}</a></td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>

        {% include "paginator.html" %}

      </div>
    </div>
  </div>
{% endblock %}
