{% load humanize %}
{% load burst_tags %}

<div class="table-responsive">
  <table class="table table-hover small table-sm">
    <thead>
    <tr>
      <th scope="col" class="d-none d-sm-table-cell">Miner</th>
      <th scope="col">Since Block</th>
    </tr>
    </thead>
    <tbody>
    {% for miner in miners %}
      <tr>
        <td class="text-nowrap d-none d-sm-table-cell">
          {% include "account_link.html" with account_id=miner.account_id account_name=miner.account_id|account_name_string %}
        </td>
        <td><a href="{% url 'block-detail' miner.height %}">{{ miner.height }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
