{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block description %}
Latest block: {% if blocks %}{%  with blocks|first as last_block %}{{ last_block.height }}{% endwith %}{% endif %}
Network Difficulty: {% if blocks %}{%  with blocks|first as last_block %}
{{ last_block.base_target|net_capacity_tib|format_capacity }} + {{ last_block.base_target|net_commitment|floatformat:2|intcomma }} {% coin_symbol %}/TiB
{% endwith %}{% endif %}
{% endblock %}

{% block revision %}{{ last_block.height }}{% endblock %}

{% block content %}
  <div class="card-deck mb-5 text-center">
    <div class="card card-search mb-4 shadow-sm bg-primary">
      <div class="card-body py-0 px-0">
        <form class="form-inline input-group" action="{% url 'search' %}">
          <input class="form-control" type="text" name="q" placeholder="Search by Account / Block / Transaction / Token / Contract" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit" name="submit" value="Search"><i class="fas fa-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">
        <div class="row mx-gutters-md-1">
          {% if not test_net %}
          <div class="col-md-6 col-lg-4 u-ver-divider u-ver-divider--none-md">
            <div class="media align-items-center">
              <div class="text-left">
                <h6 class="text-uppercase text-secondary mb-0"><i class="fas fa-dollar-sign fa-fw"></i> {% coin_symbol %} price</h6>
                <span class="text-info small">
                  ${{ burst_info.exchange.price_usd|rounding:4|intcomma }} ({{ burst_info.exchange.percent_change_24h|stringformat:"+d" }}%) @ {{ burst_info.exchange.price_btc|floatformat:-8 }} BTC
                </span>
              </div>
            </div>
            <hr class="hr-space-lg">
            <div class="media align-items-center">
              <div class="text-left">
                <h6 class="text-uppercase text-secondary mb-0"><i class="fas fa-chart-line fa-fw"></i> Market cap </h6>
                <span class="text-info small">${{ burst_info.exchange.market_cap_usd|floatformat:0|intcomma }}</span>
              </div>
            </div>
            <hr class="hr-space-lg d-block d-lg-none">
          </div>
          {% endif %}

          <div class="col-md-6 col-lg-4 u-ver-divider u-ver-divider--none-lg">
            <div class="media align-items-center">
              <div class="text-left">
                <h6 class="text-uppercase text-secondary mb-0"><i class="fas fa-cubes fa-fw"></i> Latest block</h6>
                {% if blocks %}
                  {%  with blocks|first as last_block %}
                    <span class="text-info small">{{ last_block.height }}</span>
                  {% endwith %}
                {% else %}
                  -
                {% endif %}
              </div>
            </div>
            <hr class="hr-space-lg">
            <div class="media align-items-center">
              <div class="text-left">
                <h6 class="text-uppercase text-secondary mb-0"><i class="fas fa-project-diagram fa-fw"></i> Network Difficulty</h6>
                {% if blocks %}
                  {%  with blocks|first as last_block %}
                    <span class="text-info small">{{ last_block.base_target|net_capacity_tib|format_capacity }}
                      + {{ last_block.base_target|net_commitment|floatformat:2|intcomma }} {% coin_symbol %}/TiB
                    </span>
                  {% endwith %}
                {% else %}
                  -
                {% endif %}
              </div>
            </div>
            <hr class="hr-space-lg d-block d-md-none">
          </div>
          
          <div class="col-md-6 col-lg-4 u-ver-divider u-ver-divider--none-lg">
            <div class="media align-items-center">
              <div class="text-left">
                <h6 class="text-uppercase text-secondary mb-0"><i class="fa fa-coins"></i> Total Supply</h6>
                <span class="text-info small"> {{ 0 | total_circulating|burst_amount|intcomma }}</span>
              </div>
            </div>
            <hr class="hr-space-lg">
            <div class="media align-items-center">
              <div class="text-left">
                <h6 class="text-uppercase text-secondary mb-0"><i class="fas fa-fire"></i> Total Burned</h6>
                 <span class="text-info small">{{ 0 | account_balance|burst_amount|intcomma  }} </span>
              </div>
            </div>
            <hr class="hr-space-lg d-block d-md-none">
          </div>
          <div class="col-md-0 col-lg-4 pt-4 pt-lg-0 mx-auto">
            <div class="media align-items-center mt-n2" Style="max-height: 120px;">
              <!--<canvas style="max-height: 135px; width: 100vw; display: block;" id="myChart"></canvas>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="update_latest">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-header-title">Latest Blocks</h5>
      </div>
      <div class="card-body">
        {% include "home/blocks_list.html" %}
      </div>
      <div class="card-footer">
        <a class="btn btn-xs btn-block btn-outline-primary" href="{% url 'blocks' %}">View all blocks</a>
      </div>
    </div>
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="card-header-title">Latest Transactions</h5>
      </div>
      <div class="card-body">
        {% include "home/transactions_list.html" %}
      </div>
      <div class="card-footer">
        <a class="btn btn-xs btn-block btn-outline-primary" href="{% url 'txs' %}">View all transactions</a>
      </div>
    </div>
  </div>

  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h5 class="card-header-title">Pending Transactions</h5>
      </div>
      <div class="card-body">
        {% include "txs_pending/txs_pendings.html" %}
        <a class="btn btn-xs btn-block btn-outline-primary" href="{% url 'txs-pending' %}">View all pending transactions</a>
      </div>
    </div>
  </div>
 </div>
    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
<script>
var ctxL = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctxL, {
type: 'line',
data: {
labels: ["24 hours ago", "23 hours ago", "22 hours ago", "21 hours ago", "20 hours ago", "19 hours ago", "18 hours ago", "17 hours ago", "16 hours ago", "15 hours ago", "14 hours ago", "13 hours ago", "12 hours ago", "11 hours ago", "10 hours ago", "9 hours ago", "8 hours ago", "7 hours ago", "6 hours ago", "5 hours ago", "4 hours ago", "3 hours ago", "2 hours ago", "1 hour ago"],
datasets: [
{
label: "STP",
data: [28000, 48000, 40000, 190000, 60000, 270000, 90000, 48000, 40000, 19000, 86000, 270000, 90000, 48000, 40000, 190000, 86000, 2700, 90000, 48000, 40000, 19000, 86000, 27000],
pointRadius: 2,
pointHoverRadius: 4,
tension: 0.4,
backgroundColor: ['#007bff'],
borderColor: ['#007bff'],
borderWidth: 1,
borderRadius: 3,
},
{
label: "TP",
data: [28, 48, 40, 19, 60, 27, 90, 48, 40, 19, 86, 27, 90, 48, 40, 19, 86, 27, 90, 48, 40, 19, 86, 27],
pointRadius: 2,
pointHoverRadius: 4,
tension: 0.4,
fill: true,
backgroundColor: [
'#22366B59',
],
borderColor: [
'#22366B',
],
borderWidth: 1,
borderRadius: 3,
}
]
},
options: {
    scales: {y: {type: 'logarithmic',}, X: {ticks: {display: false},}},
    animation: {duration: 5000,},
    hover: { mode: 'index', intersect: false },
    plugins: {
    legend : false,
    responsive: true,
    tooltip: { mode: 'index', intersect: false },
    title: {display:true, text:'TRANSACTIONS PER-HOUR', font:{family: "'Montserrat', sans-serif", weight: 500,}},
             }
         }
});
</script>-->

<script src="https://cdn.jsdelivr.net/npm/nanobar@0.4.2/nanobar.min.js"></script>
<script>
  var nanobar = new Nanobar();
  setInterval(function () {
    nanobar.go(65);
    $('#update_latest').load(location.href + ' #update_latest');
    $(document).ajaxComplete(function () {
      nanobar.go(100); //progress 100 after ajax update complete
    });
  }, 60000); //update every X ms.
</script>

{% endblock %}
