{% load humanize %}
{% load burst_tags %}

<div class="table-responsive">
  <table class="table table-hover small table-sm text-left">
    <tbody>
    {% for tx in txs %}
      <tr>
        <td  class="text-nowrap align-top">
          <span class="btn btn-outline-primary">
            <span class="btn-icon__inner text-dark">
              <a href="{% url 'tx-detail' tx.id %}">TX</a>
            </span>
          </span>
        </td>
        <td class="text-nowrap align-top">
          <a href="{% url 'tx-detail' tx.id %}">{{ tx.id|truncatechars:10 }}</a><br>
          <span class="small">{{ tx.block_timestamp|naturaltime }}</span>
          {% if tx.has_message %}
          <br>
          <small><span class="text-black-50"></span></small>
          {% endif %}
        </td>
        <td class="text-nowrap">
          From
          {% include "account_link.html" with account_id=tx.sender_id account_name=tx.sender_name %}<br>
          To
          {% if tx.recipient_id or tx.multiout %}
            {% include "recipient_link.html" with account_id=tx.recipient_id account_name=tx.recipient_name %}
          {% else %}
            {{ tx|tx_type }}
          {% endif %}
        </td>
        <td class="text-nowrap d-none d-sm-table-cell align-top" title="Amount">
           {% if tx.quantity and tx.amount <= 0 %}
             <span></span><br>
             <span></span><br>
           {% elif tx.type == 2 and tx.subtype == 2  %}
             <span>{{ tx|tx_quantity|rounding:5|intcomma }}</span><br>
             <span class="text-success"> {{ tx|tx_symbol }} </span>
           {% elif tx.type == 2 and  tx.subtype == 3  %}
             <span>{{ tx|tx_quantity|rounding:5|intcomma }}</span><br>
             <span class="text-success"> {{ tx|tx_symbol }} </span>
           {% elif tx.type == 2 and  tx.subtype == 6 %}
             <span>{{ tx|tx_quantity|rounding:5|intcomma }}</span><br>
             <span class="text-success"> {{ tx|tx_symbol }} </span>
           {%elif tx.type == 20 or tx.type == 22 %}        
             <span>{{ tx|tx_amount|rounding:5|intcomma }}</span><br>
             <span class="text-success"> {% coin_symbol %} </span><br>
           {% elif tx.type == 2 and tx.subtype == 1 %}
             <span>{{ tx|tx_quantity|rounding:5|intcomma }}</span><br>
             <span class="text-success">  {{ tx|tx_symbol }} </span><br>        
           {% elif tx.type == 2 and tx.subtype == 9 %}
              <span>{{ tx|tx_quantity_multi:1|rounding:8|intcomma }}</span>
              <span class="text-success">  <a href="{% url 'asset-detail' tx|tx_assetid_multi:1 %}"> {{ tx|tx_symbol_multi:1 }} </a></span><br>
              <span>{{ tx|tx_quantity_multi:2|rounding:8|intcomma }}</span>
              <span class="text-success"> <a href="{% url 'asset-detail' tx|tx_assetid_multi:2 %}"> {{ tx|tx_symbol_multi:2 }} </a></span><br>
                {% if tx|tx_asset_multi_size > 2 %}
                  <span>{{ tx|tx_quantity_multi:3|rounding:8|intcomma }}</span>
                  <span class="text-success"> <a href="{% url 'asset-detail' tx|tx_assetid_multi:3 %}"> {{ tx|tx_symbol_multi:3 }} </a></span><br>
                {% endif %}
                {% if tx|tx_asset_multi_size == 4 %}
                  <span>{{ tx|tx_quantity_multi:4|rounding:8|intcomma }}</span>
                  <span class="text-success"> <a href="{% url 'asset-detail' tx|tx_assetid_multi:4 %}"> {{ tx|tx_symbol_multi:4 }} </a></span><br>
                {% endif %}

           {% elif tx.type == 2 and tx.subtype == 8 and tx|tx_quantity:filtered_account  > 0 %}
             <span>{{ tx|tx_quantity|rounding:5|intcomma }}</span><br>
             <span class="text-success"> {{ tx|tx_symbol_distribution}} </span><br>
           {% elif tx.amount > 0 %}        
             <span>{{ tx|tx_amount|rounding:5|intcomma }}</span><br>
             <span class="text-success"> {% coin_symbol %} </span><br>
           {% endif %}  
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
