html {
  font-size: 14px;
}

@media (min-width: 1140px) {
  html {
    font-size: 16px;
  }
}

main > .container {
  padding: 110px 15px 0;
  max-width: 1400px;
}

body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background: rgba(255,255,255,0.9) !important;
  backdrop-filter: blur(10px) saturate(125%);
}

.wrapper {
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
  min-height: 100%;
  background-color: #f8f9fa !important;
}

.wrapper-home {
  background-image: url('expbg.jpg') !important;
  background-repeat: no-repeat;
  background-position: center top;
}

.table > tbody > tr:first-child > th,
.table > tbody > tr:first-child > td {
  border: none;
}

.no-border td, .no-border th {
  border: none;
}

#push {
  height: 80px
}

.table td, .table th {
  vertical-align: middle;
}

.footer {
  color: #f8f9fa;
  background-color: #22366B;
  text-decoration: none;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.card-header {
    background-color: rgba(0,0,0,.00) !important;
}

.card{
  border-radius: 0.8em;
}

.card-search {
  border-radius: 0.5em;
  max-width: 650px;
}

.card-footer {
    background-color: rgba(0,0,0,.00) !important;
}

.btn {
  border-radius: 0.5rem;
}

.form-control {
  border-radius: 0.5rem;
}

.chart-legend {
	width: 240px;
	height: 20px;
	position: relative;
  top: 8px;
	padding: 8px;
	font-size: 12px;
	color: '#20262E';
	background-color: rgba(255, 255, 255, 0.23);
	text-align: left;
	z-index: 1000;
	pointer-events: none;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  opacity: 90%;
  display: none;
}

/* STYLES SPECIFIC TO LOADING BARS */
.bar{
  width:0;
  height:100%;
  float:left;
  background:#007bff;
}
.nanobar{
  float:left;
  width:100%;
  height:4px;
  z-index:9999;
}
.nanobar .bar {
  position: absolute;
  top: 0;
  left: 0;
}

/* STYLES SPECIFIC TO FOOTER  */
.footerex {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #22366B;
}
.footerex .colft {
  width: 220px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footerex .colft h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 25px;
  padding: 20px 0px 5px 0px;
  color: #ffff;
  font-weight: 400;
  letter-spacing: 0.050em;
}
.footerex .colft ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footerex .colft ul li {
  color: #999999;
  font-size: 14px;
  font-family: inherit;
  font-weight: 400;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 10px !important;
}

.line {
    height: 1px;
    width: 50px;
    display: block;
    background: #0099FF;
}

.footerex .colft ul li:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}

.normlink {
  color: inherit !important;
  text-decoration: inherit !important;
}

.sig {
  color: #999999 !important;
  font-size: 14px !important;
}

.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .navbar {
  background: rgba(255,255,255,0.9) !important;
  backdrop-filter: blur(10px) saturate(125%);
  }
  .containft {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .navbar {
  background: rgba(255,255,255,0.9) !important;
  backdrop-filter: blur(10px) saturate(125%);
  }
  .containft .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .navbar {
  background: rgba(255,255,255,1.0) !important;
  }
  .footerex .colft {
    width: 33%;
  }
  .footerex .colft h1 {
    font-size: 14px;
  }
  .footerex .colft ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .navbar {
    background: rgba(255,255,255,1.0) !important;
    }
    .footerex .colft {
      width: 50%;
      min-height: 200px;
    }
    .footerex .colft h1 {
      font-size: 14px;
    }
    .footerex .colft ul li {
      font-size: 13px;
    }
    .footerex .social {
    min-height: 75px !important;
    }
}
@media only screen and (max-width: 340px) {
    .navbar {
    background: rgba(255,255,255,1.0) !important;
    }
    .footerex .colft {
    width: 100%;
  }
}

svg > g:last-child > g:last-child { pointer-events: none }
div.google-visualization-tooltip { pointer-events: none }


