{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block description %}
Oops! Page not found.
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="error-template">
            <h1>
              Oops!
            </h1>
            <h2>500 Processing Error</h2>
            <div class="error-details" id="reportlink">
              <script>
          		document.getElementById("reportlink").innerHTML = 
	          	"Sorry, an unexprected error has occured, please help us to improve by <a href='https://github.com/signum-network/signum-explorer/issues/new?title=Processing Error&body=Error while processing, URL: " + window.location.href + "target='_blank'>reporting this issue</a>.";
	            </script>
            </div>
          </div>
      </div>
  </div>
</div>

{% endblock %}
