{% load humanize %}
{% load burst_tags %}

<div class="table-responsive">
  <table class="table table-hover small table-sm">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Block</th>
      <th scope="col">Transaction ID</th>
      <th scope="col">Address</th>
    </tr>
    </thead>
    <tbody>
    {% for at in ats %}
      <tr>
        <td><a href="{% url 'at-detail' at.id %}">{{ at.name }}</a></td>
        <td><a href="{% url 'block-detail' at.height %}">{{ at.height }}</a></td>
        <td><a href="{% url 'tx-detail' at.id %}">{{ at.id|truncatechars:10 }}</a></td>
        <td><a href="{% url 'address-detail' at.id %}">{{ at.id|num2rs }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
