{% load humanize %}
{% load burst_tags %}

<div class="table-responsive">
  <table class="table table-hover small table-sm">
    <thead>
    <tr>
      <th scope="col" class="align-middle">Transaction ID</th>
      <th scope="col" class="d-none d-sm-table-cell align-middle">Block</th>
      <th scope="col" class="d-none d-sm-table-cell align-middle">Frequency<br><small>( hh:mm:ss )</small></th>
      <th scope="col" class="align-middle">Next Payment</th>
      <th scope="col" class="align-middle" >To</th>
      <th scope="col" class="align-middle">Value</th>
    </tr>
    </thead>
    <tbody>
    {% for subscription in subscriptions %}
      <tr>
        <td><a href="{% url 'tx-detail' subscription.id %}">{{ subscription.id|truncatechars:10 }}</a></td>
        <td class="d-none d-sm-table-cell"><a href="{% url 'block-detail' subscription.height %}">{{ subscription.height }}</a></td>
        <td class="d-none d-sm-table-cell">{{ subscription.frequency|sec_time }}</td>
        <td>{{ subscription.time_next|subNextsend|naturaltime }}</td>
        <td>{% include "recipient_link.html" with account_id=subscription.recipient_id account_name=subscription.recipient_name %}</td>
        <td>{{ subscription.amount|burst_amount }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
