{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block title %} - Token #{{ asset.id }}{% endblock %}

{% block description %}
{{ asset.name }} {% if asset|is_asset_blocked %} ! Potential phishing ! {% endif %}
{{ asset.description }}
{% endblock %}

{% block content %}

  <h5 class="p-2">Token<br class="d-md-none" /> {{ asset.id }}
    <a class="btn btn-sm btn-icon btn-soft-secondary rounded-circle copy-btn px-1" href="#" data-clipboard-text="{{ asset.id }}"><i class="far fa-copy"></i></a>
  </h5>

  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">

        <div class="table-responsive">
          <table class="table small table-sm">
            <tbody>
            <!--
            <tr>
              <th style="width: 130px;">ID</th>
              <th>
                {{ asset.id }}
              </th>
            </tr>
            -->
            <tr>
              <th>Ticker</th>
              <td class="text-uppercase">
                {{ asset.name }}
                {% if asset|is_asset_blocked %}
                  <span class="border m-2 pl-1 pr-1 rounded border-warning bg-warning font-weight-bold"><spam><i class="fas fa-exclamation-circle"></i> Potential phishing</spam></span>
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Description</th>
              <td>{{ asset.description }}</td>
            </tr>
            <tr>
              <th>Circulating Quantity</th>
              <td>
                {% if asset.decimals == 0 %}
                  {{ asset.id|asset_circulating|intcomma }}
                {% else %}
                  {{ asset.id|asset_circulating|div_decimals:asset.decimals|floatformat:0|intcomma }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Decimals</th>
              <td>{{ asset.decimals }}</td>
            </tr>
            <tr>
              <th>Mintable</th>
              <td>{{ asset.mintable }}</td>
            </tr>          
            <tr>
              <th>Issuer</th>
              <td>
                {% include "account_link.html" with account_id=asset.account_id account_name=asset.account_name oneline=True %}
              </td>
            </tr>
            <tr>
              <th>Block</th>
              <td><a href="{% url 'block-detail' asset.height %}">{{ asset.height }}</a></td>
            </tr>
            </tbody>
          </table>

          <nav>
            <div class="nav nav-tabs small" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-asset-trades-tab" data-toggle="tab" href="#nav-asset-trades" role="tab" aria-controls="nav-asset-trades" aria-selected="false">{{ assets_trades_cnt|intcomma }} Token trades</a>
              <a class="nav-item nav-link" id="nav-asset-transfer-tab" data-toggle="tab" href="#nav-asset-transfer" role="tab" aria-controls="nav-asset-transfer" aria-selected="false">{{ assets_transfers_cnt|intcomma }} Token transfers</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-asset-trades" role="tabpanel" aria-labelledby="nav-asset-trades-tab">
              {% if assets_trades_cnt > 0 %}
                <p class="small p-1" style="margin-top: 10px">
                  Latest {{ assets_trades.count }} from a total of
                  <a href="{% url 'asset-trades' %}?asset={{ asset.id }}">{{ assets_trades_cnt|intcomma }}</a>
                  token trades found
                </p>
                {% include "assets/trades_list.html" with asset_specific=1 %}
              {% else %}
                <p class="small p-1" style="margin-top: 10px">No trades found</p>
              {% endif %}
            </div>

            <div class="tab-pane fade" id="nav-asset-transfer" role="tabpanel" aria-labelledby="nav-asset-transfer-tab">
              {% if assets_transfers_cnt > 0 %}
                <p class="small p-1" style="margin-top: 10px">
                  Latest {{ assets_transfers.count }} from a total of
                  <a href="{% url 'asset-transfers' %}?asset={{ asset.id }}">{{ assets_transfers_cnt|intcomma }}</a>
                  token transfers found
                </p>
                {% include "assets/transfers_list.html" with asset_specific=1 %}
              {% else %}
                <p class="small p-1" style="margin-top: 10px">No token transfers</p>
              {% endif %}
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>


{% endblock %}
