{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block title %} - Token #{{ asset.id }}{% endblock %}

{% block description %}
{% if not asset|is_asset_phishing %}
{{ asset.name }}
{{ asset.description }}
{% endif %}
{% endblock %}


{% block scripts %}
  <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
  <script>

var container = document.getElementById('chartDiv');

var width = container.clientWidth;
var height = 240;

var data = {{ price_history|safe }} ;

var chart = window.tvchart  = LightweightCharts.createChart(container, {
  width: width,
	height: height,
	rightPriceScale: {
		scaleMargins: {
			top: 0.35,
			bottom: 0.2,
		},
		borderVisible: false,
	},
	timeScale: {
		borderVisible: false,
	},
	grid: {
		horzLines: {
			color: '#eee',
      visible: false,
		},
		vertLines: {
			color: '#ffffff',
		},
	},
  crosshair: {
  		horzLine: {
      	visible: false,
        labelVisible: false
      },
      vertLine: {
      	visible: true,
        style: 0,
        width: 2,
        color: 'rgba(32, 38, 46, 0.1)',
        labelVisible: false,
      }
  },
});

var series = chart.addAreaSeries({
	topColor: 'rgba(19, 68, 193, 0.4)',
  bottomColor: 'rgba(0, 120, 255, 0.0)',
	lineColor: 'rgba(19, 40, 153, 1.0)',
	lineWidth: 3
});

series.setData(data);
chart.timeScale().fitContent();
// Start with latest 30 days?
// chart.timeScale().setVisibleLogicalRange({ from: new Date().setDate(Date.now()-30) / 1000, to: Date.now() / 1000 });

function businessDayToString(businessDay) {
	return new Date(Date.UTC(businessDay.year, businessDay.month - 1, businessDay.day, 0, 0, 0)).toLocaleDateString();
}

var toolTipMargin = 10;
var priceScaleWidth = 50;
var toolTip = document.createElement('div');
toolTip.className = 'chart-legend';
container.appendChild(toolTip);
toolTip.style.display = 'block';
toolTip.style.left = 3 + 'px';
toolTip.style.top = 3 - height + 'px';

function setToolTipData(curTime, price) {
	var dateStr = curTime.year + '-' + curTime.month + '-' + 	curTime.day;
  var priceStr = price + " {% coin_symbol %}"
	 toolTip.innerHTML =	'<div style="font-size: 24px; margin: 4px 0px; color: #20262E; display:inline;">{% if asset|is_asset_blocked %} Name Blocked {% else %} {{ asset.name }} {% endif %} </div>'+
    '<div style="white-space:nowrap; font-size: 16px; margin: 4px 0px; color: #20262E; display:inline;"> ' + priceStr + ' </div>' +
		'<div style="display:inline;">' + dateStr + '</div>';
}

setToolTipData(data[data.length - 1].time, data[data.length - 1].value);

chart.subscribeCrosshairMove(function(param) {
  if ( param === undefined || param.time === undefined || param.point.x < 0 || param.point.x > width || param.point.y < 0 || param.point.y > height ) {
    setToolTipData(data[data.length - 1].time, data[data.length - 1].value);
} else {
  setToolTipData(param.time, param.seriesPrices.get(series));
}


});


var timerID;
document.body.onresize = function() {
  if (timerID) clearTimeout(timerID);
  timerID = setTimeout(function() {
    width = container.clientWidth
    chart.resize(width, height);
    }, 200);
}

  </script>
{% endblock %}


{% block content %}

  <h5 class="p-2">Token<br class="d-md-none" /> {{ asset.id }}
    <a class="btn btn-sm btn-icon btn-soft-secondary rounded-circle copy-btn px-1" href="#" data-clipboard-text="{{ asset.id }}"><i class="far fa-copy"></i></a>
  </h5>

<div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
       {% if assets_trades_cnt > 0 %}
         <div class="mt-2" style="height: 240px;" id="chartDiv">
         </div>
       {% endif %}
      <div class="card-body">

        <div class="table-responsive">
          <table class="table small table-sm">
            <tbody>
            <!--
            <tr>
              <th style="width: 130px;">ID</th>
              <th>
                {{ asset.id }}
              </th>
            </tr>
            -->
            <tr>
              <th>Ticker</th>
              <td class="text-uppercase">
                {% if asset|is_asset_blocked %}
                  <span class="border m-2 pl-1 pr-1 rounded border-warning bg-warning font-weight-bold text-uppercase"><spam><i class="fas fa-exclamation-circle"></i> Name blocked</spam></span>
                {% else %}
                  {{ asset.name }}
                  {% if asset|is_asset_phishing %}
                    <span class="border m-2 pl-1 pr-1 rounded border-warning bg-warning font-weight-bold text-uppercase"><spam><i class="fas fa-exclamation-circle"></i> Potential phishing</spam></span>
                  {% endif %}
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Description</th>
              <td>
                {% if asset|is_asset_blocked %}
                  <span class="border m-2 pl-1 pr-1 rounded border-warning bg-warning font-weight-bold text-uppercase"><spam><i class="fas fa-exclamation-circle"></i> Description blocked</spam></span>
                {% else %}
                  {{ asset.description }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Circulating Quantity</th>
              <td>
                {% if asset.decimals == 0 %}
                  {{ asset.id|asset_circulating|intcomma }}
                {% else %}
                  {{ asset.id|asset_circulating|div_decimals:asset.decimals|floatformat:asset.decimals|intcomma }}
                {% endif %}
              </td>
            </tr>
            <tr>
              <th>Decimals</th>
              <td>{{ asset.decimals }}</td>
            </tr>
            <tr>
              <th>Mintable</th>
              <td>{{ asset.mintable }}</td>
            </tr>
            <tr>
              <th>Issuer</th>
              <td>
                {% include "account_link.html" with account_id=asset.account_id account_name=asset.account_name oneline=True %}
              </td>
            </tr>
            <tr>
              <th>Block</th>
              <td><a href="{% url 'block-detail' asset.height %}">{{ asset.height }}</a></td>
            </tr>
            </tbody>
          </table>

          <nav>
            <div class="nav nav-tabs small" id="nav-tab" role="tablist">
              <a class="nav-item nav-link active" id="nav-asset-trades-tab" data-toggle="tab" href="#nav-asset-trades" role="tab" aria-controls="nav-asset-trades" aria-selected="false">{{ assets_trades_cnt|intcomma }} Token trades</a>
              <a class="nav-item nav-link" id="nav-asset-transfer-tab" data-toggle="tab" href="#nav-asset-transfer" role="tab" aria-controls="nav-asset-transfer" aria-selected="false">{{ assets_transfers_cnt|intcomma }} Token transfers</a>
              <a class="nav-item nav-link" id="nav-asset-holders-tab" data-toggle="tab" href="#nav-asset-holders" role="tab" aria-controls="nav-asset-holders" aria-selected="false">{{ assets_holders_cnt|intcomma }} Token Holders</a>
              <a class="nav-item nav-link" id="nav-asset-minting-tab" data-toggle="tab" href="#nav-asset-minting" role="tab" aria-controls="nav-asset-minting" aria-selected="false">{{ assets_minting_cnt|intcomma }} Token Minting</a>
              <a class="nav-item nav-link" id="nav-asset-distribution-tab" data-toggle="tab" href="#nav-asset-distribution" role="tab" aria-controls="nav-asset-distribution" aria-selected="false">{{ assets_distribution_cnt|intcomma }} Distributions</a>
            </div>
          </nav>
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-asset-trades" role="tabpanel" aria-labelledby="nav-asset-trades-tab">
              {% if assets_trades_cnt > 0 %}
                  <div class="float-left small p-1">Latest {{ assets_trades.count }} trades</div>
                  <div class="float-right  small p-1">
                    <a href="{% url 'asset-trades' %}?asset={{ asset.id }}">View all trades</a>
                  </div>
                {% include "assets/trades_list.html" with asset_specific=1 %}
                  <div class="float-right  small p-1">
                    <a href="{% url 'asset-trades' %}?asset={{ asset.id }}">View all trades</a>
                  </div>
              {% else %}
                <p class="small p-1" style="margin-top: 10px">No trades found</p>
              {% endif %}
            </div>

            <div class="tab-pane fade" id="nav-asset-transfer" role="tabpanel" aria-labelledby="nav-asset-transfer-tab">
              {% if assets_transfers_cnt > 0 %}
                <div class="float-left small p-1">Latest {{ assets_transfers.count }} transfers</div>
                <div class="float-right  small p-1">
                  <a href="{% url 'asset-transfers' %}?asset={{ asset.id }}">View all transfers</a>
                </div>
                {% include "assets/transfers_list.html" with asset_specific=1 %}
                <div class="float-right  small p-1">
                  <a href="{% url 'asset-transfers' %}?asset={{ asset.id }}">View all transfers</a>
                </div>
              {% else %}
                <p class="small p-1" style="margin-top: 10px">No token transfers</p>
              {% endif %}
            </div>

            <div class="tab-pane fade" id="nav-asset-holders" role="tabpanel" aria-labelledby="nav-asset-holders-tab">
              {% if assets_holders_cnt > 0 %}
                <div class="float-left small p-1">Largest {{ assets_holders.count }} holders</div>
                <div class="float-right  small p-1">
                  <a href="{% url 'asset-holders' %}?asset={{ asset.id }}">View all holders</a>
                </div>
                {% include "assets/holders_list.html" with asset_specific=1 %}
                <div class="float-right  small p-1">
                  <a href="{% url 'asset-holders' %}?asset={{ asset.id }}">View all holders</a>
                </div>
              {% else %}
                <p class="small p-1" style="margin-top: 10px">No token holders</p>
              {% endif %}
            </div>

            <div class="tab-pane fade" id="nav-asset-minting" role="tabpanel" aria-labelledby="nav-asset-minting-tab">
              {% if assets_minting_cnt > 0 %}
              <div class="float-left small p-1">Latest {{ assets_minting_tx.count }} mintings</div>
              <div class="float-right  small p-1">
                <a href="{% url 'asset-mintings' %}?asset={{ asset.id }}">View all mintings</a>
              </div>
              {% include "assets/mintings_list.html" with asset_specific=1 %}
              <div class="float-right  small p-1">
                <a href="{% url 'asset-mintings' %}?asset={{ asset.id }}">View all mintigs</a>
              </div>
              {% else %}
                <p class="small p-1" style="margin-top: 10px">No token minting</p>
              {% endif %}
            </div>
            <div class="tab-pane fade" id="nav-asset-distribution" role="tabpanel" aria-labelledby="nav-asset-distribution-tab">
              {% if assets_distribution_cnt > 0 %}
              <div class="float-left small p-1">Latest {{ assets_distribution_tx.count }} distributions</div>
              <div class="float-right  small p-1">
                <a href="{% url 'asset-distributions' %}?asset={{ asset.id }}">View all distributions</a>
              </div>
              {% include "assets/distribution_list.html" with asset_specific=1 %}
              <div class="float-right  small p-1">
                <a href="{% url 'asset-distributions' %}?asset={{ asset.id }}">View all distributions</a>
              </div>
              {% else %}
                <p class="small p-1" style="margin-top: 10px">No distributions for holders</p>
              {% endif %}
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>


{% endblock %}
