{% extends 'base.html' %}

{% load humanize %}
{% load burst_tags %}

{% block content %}
<h5 class="p-2">Token Distributions 
    {% if 'asset' in request.GET %}
      <br class="d-md-none" />
      <small class="text-muted">for token ID #<a href="{% url 'asset-detail' request.GET.asset %}">{{ request.GET.asset }}</a></small>
    {% endif %}
  </h5>
  <div class="card-deck mb-3">
    <div class="card mb-4 shadow-sm">
      <div class="card-body">

        <div class="d-flex flex-column flex-md-row align-items-center">
          <small class="my-0 mr-md-auto text-muted">
              {{ assets_distribution_cnt|intcomma }} distribution transaction found<br>
          </small>
        </div>
       {% include "assets/distribution_list.html" with asset_specific=1 %}
      </div>
    </div>
  </div>
  {% endblock %}