{% load humanize %}
{% load burst_tags %}

<div class="table-responsive">
  <table class="table table-hover small table-sm">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col" class="d-none d-sm-table-cell">Block</th>
      <th scope="col" class="d-none d-sm-table-cell">Timestamp</th>
      <th scope="col">Type</th>
      <th scope="col" class="d-none d-sm-table-cell">From</th>
      <th scope="col"></th>
      <th scope="col" class="d-none d-sm-table-cell">To</th>
      <th scope="col">Value</th>
      <th scope="col" class="d-none d-sm-table-cell">Fee</th>
    </tr>
    </thead>
    <tbody>
    {% for tx in txs %}
      <tr>
        <td><a href="{% url 'tx-detail' tx.id %}">{{ tx.id|truncatechars:10 }}</a></td>
        <td class="d-none d-sm-table-cell"><a href="{% url 'block-detail' tx.height %}">{{ tx.height }}</a></td>
        <td class="text-nowrap d-none d-sm-table-cell">{{ tx.block_timestamp|naturaltime }}</td>
        <td>
          {% if tx.type == 2 and tx.subtype == 8 %}
            <span><a href="{% url 'distribution' %}?a={{ tx.id }}">{{ tx|tx_type }}</a></span>
            <br>
            <span>for Token </span>
            <span class="text-success">  {{ tx|tx_asset_holder}}</span>
          {% else %}
            <span> {{ tx|tx_type }}</span>
          {% endif %}
        </td>
        <td class="text-nowrap d-none d-sm-table-cell">
          {% include "account_link.html" with account_id=tx.sender_id account_name=tx.sender_name %}
        </td>
        <td>
          {% if filtered_account %}
            {% if tx|tx_is_out:filtered_account %}
              <span class="text-center font-weight-bold rounded-pill" style="background-color: rgb(255, 214, 214)!important; color: rgb(140, 45, 80); line-height: 1.6; font-size: .61rem; width: 100%!important; display: inline-block; padding: .2rem .5rem;">
                OUT</span>
            {% elif tx|tx_is_in:filtered_account %}
              <span class="text-center font-weight-bold rounded-pill" style="background-color: rgb(222, 249, 210)!important; color: rgb(35, 118, 64); line-height: 1.6; font-size: .61rem; width: 100%!important; display: inline-block; padding: .2rem .5rem;">
                IN</span>
            {% endif %}
          {% endif %}
        </td>
        <td class="text-nowrap d-none d-sm-table-cell">
          {% if tx.recipient_id or tx.multiout %}
            {% include "recipient_link.html" with account_id=tx.recipient_id account_name=tx.recipient_name %}
          {% elif  tx.recipient_id == Null and tx.type == 0 %}
             Burning Address
          {% elif  tx.recipient_id == Null and tx.type == 20 %}
            {% include "recipient_link.html" with account_id=tx.sender_id account_name=tx.sender_name %}
          {% else %}
            {{ tx|tx_type }}
          {% endif %}
        </td>
          <td class="text-nowrap">
            {% if tx.type == 2 and tx.subtype == 2  %}
              <span>{{ tx|tx_quantity:filtered_account|rounding:5|intcomma }}</span><br>
              <span class="text-success"> {{ tx|tx_symbol }} </span>
            {% elif tx.type == 2 and  tx.subtype == 3  %}
              <span>{{ tx|tx_quantity:filtered_account|rounding:5|intcomma }}</span><br>
              <span class="text-success"> {{ tx|tx_symbol }} </span>
            {% elif tx.type == 2 and  tx.subtype == 6 %}
              <span>{{ tx|tx_quantity:filtered_account|rounding:5|intcomma }}</span><br>
              <span class="text-success"> {{ tx|tx_symbol }} </span>
            {%elif tx.amount > 0 %}        
              <span>{{ tx|tx_amount:filtered_account|rounding:5|intcomma }}</span><br>
              <span class="text-success"> {% coin_symbol %} </span><br>
            {%elif tx.type == 20 or tx.type == 22 %}        
              <span>{{ tx|tx_amount:filtered_account|rounding:5|intcomma }}</span><br>
              <span class="text-success"> {% coin_symbol %} </span><br>
            {% endif %}
            {% if tx.type == 2 and tx.subtype == 1 %}
               <span>{{ tx|tx_quantity:filtered_account|rounding:5|intcomma }}</span><br>
               <span class="text-success"> {{ tx|tx_symbol }} </span><br>
            {% endif %}          
            {% if tx.type == 2 and tx.subtype == 9 %}
              <span>{{ tx|tx_quantity_multi:1|rounding:5|intcomma }}</span><br>
              <span class="text-success"> {{ tx|tx_symbol_multi:1 }} </span><br>
              <span>{{ tx|tx_quantity_multi:2|rounding:5|intcomma }}</span><br>
              <span class="text-success"> {{ tx|tx_symbol_multi:2 }} </span><br>
              {% if tx|tx_asset_multi_size > 2 %}
                <span>{{ tx|tx_quantity_multi:3|rounding:5|intcomma }}</span><br>
                <span class="text-success"> {{ tx|tx_symbol_multi:3 }} </span><br>
              {% endif %}
              {% if tx|tx_asset_multi_size == 4 %}
                <span>{{ tx|tx_quantity_multi:4|rounding:5|intcomma }}</span><br>
                <span class="text-success"> {{ tx|tx_symbol_multi:4 }} </span><br>
              {% endif %}
            {% endif %}
            {% if tx.type == 2 and tx.subtype == 8 and tx|tx_quantity:filtered_account  > 0 %}
              <span>{{ tx|tx_quantity:filtered_account|rounding:5|intcomma }}</span><br>
              <span class="text-success"> {{ tx|tx_symbol_distribution}} </span><br>
            {% endif %}
          </td>
        <td class="text-nowrap d-none d-sm-table-cell">
          <span>{{ tx.fee|burst_amount|rounding:5|intcomma }}</span><br>
          <span class="text-success"> {% coin_symbol %} </span>
        </td>
      </tr>
     
    {% endfor %}
    </tbody>
  </table>
</div>
